---
import SectionLayout from "../../layouts/SectionLayout.astro";
import CustomImage from "../CustomImage.astro";
import CustomButton from "../CustomButton.astro";
import poleUrbano from "../../assets/anggi-pole-urbano.jpeg";

const { sectionTitle } = Astro.props;
const customButton = "Mas acerca de mi";
---

<SectionLayout sectionTitle={sectionTitle}>
  <div class="flex flex-row justify-center mx-10">
    <div class="w-[1537px] relative">
      <!-- Contenedor con posición relativa -->
      <div class="grid grid-cols-4 grid-rows-5 gap-4 p-2">
        <div class="col-span-2 row-span-3 place-self-center relative">
          <div
            class="w-[151.02px] h-[141.1px] absolute -left-10 -bottom-10 bg-atlantis-100 z-0"
          >
          </div>
          <!-- Cuadro verde detrás -->
          <CustomImage src={poleUrbano} alt="Anggi haciendo pole urbano" width="33.813rem"/>
        </div>
        <div class="col-span-2 row-span-3 col-start-3 self-center">
          <p class="pr-2 mr-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="flex justify-end py-4 my-2">
            <CustomButton customButton={customButton} />
          </div>
        </div>
      </div>
    </div>
  </div>
</SectionLayout>
