---
import CustomButton from "../../CustomButton.astro";

const { item, features } = Astro.props;
const customButton = "Empieza ya";
---

<div
  class="relative w-[21.875rem] mx-auto bg-atlantis-100 rounded-lg shadow-md rounded-tr-[60px] rounded-bl-[60px] pb-16 flex flex-col"
>
  <div class="flex-grow">
    <div class="p-4 flex flex-col items-center justify-center">
      <p class="text-[24px] font-semibold text-center p-4 pb-6">{item}</p>
      <svg
        width="187"
        height="3"
        viewBox="0 0 187 3"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
      >
        <path d="M0 2L187 1" stroke="#3C3C3C"></path>
      </svg>
    </div>
    <ul class="text-left pl-4 list-none mb-16">
      {
        features.map((feat) => (
          <li
            class="py-3 flex items-center before:content-[''] before:block before:w-4 before:h-4 before:bg-[url('/comprobado.png')] before:bg-cover before:bg-no-repeat before:mr-3 text-pretty"
          >
            {feat}
          </li>
        ))
      }
    </ul>
  </div>
  <div class="absolute bottom-4 right-4">
    <CustomButton customButton={customButton} />
  </div>
</div>
