---
import { Image } from "astro:assets";

const { src, alt, title } = Astro.props;
---

<div
  class="w-[300px] mx-auto h-[26.25rem] overflow-hidden bg-atlantis-100 rounded-lg shadow-md rounded-tr-[60px] rounded-bl-[60px] rounded-br-[60px] my-3"
>
  <div class="relative">
    <Image class="w-full h-72 object-cover" src={src} alt={alt} />
  </div>
  <div class="p-4 flex flex-col items-center justify-center flex-grow">
    <p class="pb-2 text-center font-light">{title}</p>
  </div>
</div>
