---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allRecipes = await Astro.glob("../nutrirecetas/*.md");
const tags = [
  ...new Set(allRecipes.map((recipe) => recipe.frontmatter.tags).flat()),
];

const pageTitle = "Indice de etiquetas";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap">
    {
      tags.map((tag) => (
        <p class="m-1 py-2 px-4">
          <a class="text-atlantis-700" href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
