---
const pageTitle = "Inicio";
const customButton = "Reserva ahora"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/nutrirecetas/">Recetas</a>

		<h1>Equilibrio y bienestar a tu alcance.</h1>
		<p>Descubre el camino hacia una vida equilibrada y llena de bienestar.</p>
		<button>{customButton}</button>
	</body>
</html>
