---
import BaseLayout from "../layouts/BaseLayout.astro";
import RecipeList from "../components/RecipeList.astro";

const allRecipes = await Astro.glob("../pages/nutrirecetas/*.md");
const pageTitle = "Nutrirecetas";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <ul class="list-disc pl-5 m-4">
    {
      allRecipes.map((recipe) => (
        <RecipeList url={recipe.url} title={recipe.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
