---
function capitalize(text) {
  const firstLetter = text.charAt(0);
  const rest = text.slice(1);
  return firstLetter.toUpperCase() + rest;
}
const allRecipes = await Astro.glob("../../pages/nutrirecetas/*.md");

const tags = [
  ...new Set(allRecipes.map((recipe) => recipe.frontmatter.tags).flat()),
];
---

<div class="flex flex-wrap">
  {
    tags.map((tag) => (
      <p class="m-1 py-2 px-4">
        <a class="text-atlantis-700" href={`/tags/${tag}`}>
          {capitalize(tag)}
        </a>
      </p>
    ))
  }
</div>
