---
import SquareButton from "../components/SquareButton.jsx"
---

<div
  class=" bg-gray-800 py-6 flex flex-col justify-center sm:py-12 mt-20"
>
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r from-atlantis-600 to-atlantis-400 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-xl"
    >
    </div>
    <div
      class="text-white relative px-4 py-10 bg-atlantis-400 shadow-lg sm:rounded-xl sm:p-20"
    >
      <div class="text-center pb-6">
        <h2 class="text-3xl">Contactame</h2>

        <p class="text-black">
          No dudes en escribirme. Estoy lista para ayudarte con lo que
          necesites.
        </p>
      </div>

      <form>
        <input
          class="shadow mb-4 appearance-none  rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="Name"
          name="name"
        />

        <input
          class="shadow mb-4 appearance-none  rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
          type="email"
          placeholder="Email"
          name="email"
        />

        <input
          class="shadow mb-4 appearance-none  rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="Subject"
          name="_subject"
        />

        <textarea
          class="shadow mb-4 min-h-0 appearance-none  rounded h-64 w-full py-2 px-3 text-atlantis-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="Type your message here..."
          name="message"
          style="height: 121px;"></textarea>

        <div class="flex justify-between text-black">
          <SquareButton
          text="Enviar ➤"
          onClick={}
          isActive={}
          />
          <SquareButton
          text="Resetear"
          onClick={}
          isActive={}
          />
        </div>
      </form>
    </div>
  </div>
</div>
