---
import SectionTitle from "../components/SectionTitle.astro";
---

<footer class="bg-[#fff] w-full bottom-0 z-0">
  <div class="border-b border-tuatara-200"></div>
  
  <!-- Contenedor principal del footer -->
  <div class="container px-4 mx-auto">
    <!-- Ajuste de padding para reducir la altura -->
    <div class="pt-2 pb-2 mx-auto max-w-4xl">
      <div class="flex flex-wrap justify-center -mx-3 lg:-mx-6">
        <!-- Secciones del footer con menos padding -->
        <div class="w-full md:w-auto p-2 md:px-3">
          <SectionTitle title="Inicio" href="/" />
        </div>
        <div class="w-full md:w-auto p-2 md:px-3">
          <SectionTitle title="Sobre mi" href="/about" />
        </div>
        <div class="w-full md:w-auto p-2 md:px-3">
          <SectionTitle title="Nutrirecetas" href="/nutrirecetas" />
        </div>
        <div class="w-full md:w-auto p-2 md:px-3">
          <SectionTitle title="Etiquetas" href="/tags" />
        </div>
      </div>
    </div>
  </div>
  
  <!-- Ajuste de margen y padding del texto de copyright -->
  <div class="container px-4 mx-auto">
    <p class="py-5 text-sm text-gray-400 text-center">
      Copyright © 2024 Created with love by anggifit
    </p>
  </div>
</footer>

