---
import SectionTitle from "../components/SectionTitle.astro";
---

<nav class="md:hidden fixed top-0 left-0 right-0 bg-white z-50 p-5">
  <div>
    <button id="menu" aria-label="Toggle Menu" class="z-50">
      <svg
        class="w-6 h-6 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          class="navmenu-toggle"
          fill-rule="evenodd"
          d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
        >
        </path>

        <path
          class="navmenu-toggle hidden"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
        >
        </path>
      </svg>
    </button>
  </div>
  <div class="navmenu-toggle hidden">
    <div class="flex items-center">
      <SectionTitle title="Inicio" href="/" />
      <SectionTitle title="Sobre mi" href="/about" />
      <SectionTitle title="Nutrirecetas" href="/nutrirecetas" />
      <SectionTitle
        title="Contactame"
        href="/about/#contactMe"
        data-scroll-to="contactMe"
      />
    </div>
  </div>
</nav>

<script>
  const menuButton = document.getElementById("menu");
  menuButton.addEventListener("click", () => {
    [...document.querySelectorAll(".navmenu-toggle")].forEach((Element) => {
      Element.classList.toggle("hidden");
    });
  });
</script>
