---
import CustomImage from '../components/CustomImage.astro'
import profilePic from '../assets/yilmaz-akin-FPKtCl74Hfs-unsplash.jpg'
const { customButton } = Astro.props;
---

<main class="pt-20 md:pt-40 flex justify-center">
  <div class="container mx-auto px-8 lg:flex justify-center">
    <div class="text-center lg:text-left lg:w-1/2 pb-[10.375rem]">
      <h1 class="leading-normal">Equilibrio y bienestar a tu alcance.</h1>
      <p class="mt-6">
        Descubre el camino hacia una vida equilibrada y llena de bienestar.
      </p>
      <p class="mt-8 md:mt-12">
        <button
          type="button"
          class="py-2 w-44 h-12 bg-atlantis-400 hover:bg-atlantis-600 rounded-full"
          style={{ color: "white" }}
        >
          {customButton}
        </button>
      </p>
    </div>
    <div className="text-center">
      <CustomImage src={profilePic} alt="image de perfil"/>
      
    </div>
  </div>
</main>
