---
import SectionTitle from "../components/SectionTitle.astro";
---

<nav
  class="font-sans items-center justify-between py-2 px-20 bg-white shadow w-full hidden md:flex"
>
  <div class="flex items-center">
    <!--       <StaticImage
        class="w-28 mr-4"
        src=""
        alt="Logo"
      /> -->
  </div>
  <div class="flex items-center">
    <SectionTitle title="Inicio" href="/" />
    <SectionTitle title="Sobre mi" href="/about" />
    <SectionTitle title="Nutrirecetas" href="/nutrirecetas" />
  </div>
</nav>
