---
const { sectionTitle, subtitle } = Astro.props;
---

<section class="bg-white h-[850px]">
  <div class="text-center p-20">
    <h1>{sectionTitle}</h1>
    <p class="pt-6">
      {subtitle}
    </p>
  </div>
  <slot />
</section>
